{% include "head.html" %}
{% include "navbar.html" %}

<body>
    <main>
        <div>
            
            <div class="row">
                <div class="col-12 mb-3">
                    <h1>Daten Coach</h1>
                    <hr>
                    <form method="POST">
                        <div class="form-group mt-3">
                            <label for="schluessel">Welche Währung hast du?</label>
                            <input type="text" class="form-control" id="name" name="schluessel" placeholder="bsp. BTC" required>
                          </div>
                          <div class="form-group">
                            <label for="wert">Was ist der aktuelle Preis?</label>
                            <input type="text" class="form-control" name="wert" placeholder="bsp. 8000" required>
                          </div>
                          <div class="form-group">
                            <label for="menge">Wie viel davon hast du?</label>
                            <input type="text" class="form-control" name="menge" placeholder="bsp. 0.5" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Hinzufügen</button>
                    </form>
                </div>
                
            </div>

        </div>
    </main>
</body>

{% include "footer.html" %}