{% include "head.html" %}
{% include "navbar.html" %}

<body>
    <main>

        <div class="container mt-5">
            <div class="col-12 mb-3">

                <h1>Daten Coach</h1>
                <br>

                <form method="POST" action="/team">
                    <div class="form-group mt-3">
                        <label for="name">Wie ist dein Name?</label>
                        <input type="text" class="form-control" name="name" placeholder="Senn" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="vorname">Wie ist dein Vorname?</label>
                        <input type="text" class="form-control" name="vorname" placeholder="Kilian" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="jahrgang">Was ist dein Jahrgang?</label>
                        <input type="text" class="form-control" name="jahrgang" placeholder="1998" required>
                    </div>
                    <input class="btn btn-primary" type="submit" value="submit">
                </form>

            </div>
        </div>

    </main>
</body>

{% include "footer.html" %}