<!doctype html>
<html>
	<head>
	
		<!-- Basic Page Informations-------------------------------------->
		<title>Senn Kilian</title>
		<meta charset="utf-8"/>
		<meta name="description" content="CV of Senn Kilian">
		<meta name="author" content="Senn Kilian">
		<meta name="keywords" content="CV, Senn, Kilian, Student">
		
		<!-- CSS---------------------------------------------------------->
		<link rel="stylesheet" href="css/layout.css">
		<link rel="stylesheet" href="css/fonts.css">		
		
		<style>
			body {
				background-image: url("bilder/Karate.jpg");
				background-attachment: fixed;				
			}
		</style>
		
	</head>
	
	
	
	<header>
				
		<div id="Main">
			<nav class="nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="html/Thisisme.html">This is Me</a></li>
						<!--Person	-	Good-Bad habbits	-	Umfeld-Fam.-Friends		-	Interesse-Hobbies-->
					<li><a href="html/Experience.html">Experience</a></li>
						<!--CV	-	Company-->
					<li><a href="html/Education.html">Education</a></li>
						<!--BM	-	Study	-	EN-->
					<li><a href="html/Vision.html">My Vision</a></li>
						<!--Vision-->
					<li><a href="html/WebStuff.html">WEB</a></li>
						<!--WEB-->
					<li><a href="html/Contact.html">Contact</a></li>
				</ul>
			</nav>	
		</div>
		
		<div class="titel">
            <h6>Senn Kilian</h6>
		</div>
			
		<div class="Pictures">
			<header class="pic"><img src="bilder/Kilian Business.jpg" width="500" height="500"></header>
			<header class="pic"><img src="bilder/Kilian Karate.jpg" width="500" height="500"></header>
		</div>

		<div class="BOX">
			<h3>quotes I live by</h3>
			<p class="text">
			</br>
			</br>
			Shoot for the moon and if you miss you`ll land in the stars.
			</br>
			~ Dallas McCarver
			</br></br>
			Always be the hardest worker in the room.
			</br>
			~ Dwayne "The Rock" Johnson
			</br></br>
			Live for nothing, or die for something.
			</br>
			~ Sylvester Stallone as Rambo
			</p>
		</div>	

		
	</header>
	
	
	
	<footer>
	
	<!-- Gap on the left side couldn`t be explained by anyone in the class or teacher-->

		<div class="footer">
			<div id="SM">
				<ul class="Icons">
					<li>
						<a href="https://www.linkedin.com/in/kilian-senn-aa333197/" class="fa fa-linkedin" target="_blank"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/kilian.senn.31" class="fa fa-facebook" target="_blank"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/kilian_senn/" class="fa fa-instagram" target="_blank"></a>
					</li>
					<li>
						<a href="mailto:senn.kilian@bluewin.ch" class="fa">senn.kilian@bluewin.ch</a>
					</li>
				</ul>
			</div>
		</div>
		
		
	</footer>
	
</html>